// Font File
$fonts: (
    font: "SF-Pro-Rounded",
    names: (
        "Ultralight": 100,
        "Thin": 200,
        "Light": 300,
        "Regular": 400,
        "Medium": 500,
        "Semibold": 600,
        "Bold": 700,
        "Heavy": 800,
        "Black": 900
    )
);

@each $name, $weight in map-get($fonts, names) {
    @font-face {
        font-family: map-get($fonts, font);
        font-weight: $weight;
        src: url("src/styles/fonts/#{map-get($fonts, font)}-#{$name}.otf") format("opentype");
    }
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: url("src/styles/fonts/playfair-display-v36-latin-regular.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 400;
    src: url("src/styles/fonts/playfair-display-v36-latin-italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 500;
    src: url("src/styles/fonts/playfair-display-v36-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 500;
    src: url("src/styles/fonts/playfair-display-v36-latin-500italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 600;
    src: url("src/styles/fonts/playfair-display-v36-latin-600.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 600;
    src: url("src/styles/fonts/playfair-display-v36-latin-600italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    src: url("src/styles/fonts/playfair-display-v36-latin-700.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 700;
    src: url("src/styles/fonts/playfair-display-v36-latin-700italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 800;
    src: url("src/styles/fonts/playfair-display-v36-latin-800.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 800;
    src: url("src/styles/fonts/playfair-display-v36-latin-800italic.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 900;
    src: url("src/styles/fonts/playfair-display-v36-latin-900.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Playfair Display";
    font-style: italic;
    font-weight: 900;
    src: url("src/styles/fonts/playfair-display-v36-latin-900italic.woff2") format("woff2");
}